<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3></h3>
    <div id="verCode">
        <img src="" alt="">
    </div>
    <h3></h3>
    <div>
        <input type="text" id="username" />
        <input type="text" id="password" />
        <button type="button" id="login">login</button>
    </div>
    <h3>joi</h3>
    <div>
        <input type="text" id="joi" />
        <button type="button" id="joi_btn">send</button>
    </div>
    <h3>xss</h3>
    <div>
        <textarea name="" id="originCon" cols="30" rows="10"></textarea>
        <textarea name="" id="afterCon" cols="30" rows="10"></textarea>
        <button type="button" id="xss_send">send</button>
    </div>
    <h3>log</h3>
    <div>
        <button type="button" id="log">点此按钮，将记录日志</button>
    </div>
    <h3>node-schedule</h3>
    <div>
        <button type="button" id="schedule">开启</button>
    </div>
    <h3>12</h3>
    <div>
        <textarea id="socCon"></textarea>
        <button type="button" id="startSoc">开启</button>
        <button type="button" id="sendSoc">发送数据</button>
        <button type="button" id="endSoc">结束</button>
    </div>
</body>
<script type="text/javascript" src="javascripts/jsencrypt.js"></script>
<script>

getCode();
document.getElementById('verCode').addEventListener('click', function() {
    getCode();
});

document.getElementById('login').addEventListener('click', function() {
    getKey().then(function(secret) {
        login(secret)
    });
});
document.getElementById('joi_btn').addEventListener('click', function() {
    var val = parseInt(document.getElementById('joi').value);

    if (isNaN(val)) {
        // 输入了以字母开头的字符串
        val = document.getElementById('joi').value;
    }

    fetch('/api/joi', {
        method: 'post',
        body: JSON.stringify({
            must: val
        })
    }).then(function(data) {
        return data.json();
    }).then(function(data) {
        debugger;
    });
});

document.getElementById('log').addEventListener('click', function() {
    fetch('/api/log4js');
});

document.getElementById('xss_send').addEventListener('click', function() {
    fetch('/api/xss', {
        method: 'post',
        body: JSON.stringify({
            content: document.getElementById('originCon').value
        }),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(function(data) {
        return data.json();
    }).then(function(data) {
        document.getElementById('afterCon').value = data.data.content;
    });
});

document.getElementById('schedule').addEventListener('click', function() {
    fetch('/api/schedule');
});

function login(publicKey) {
    var encrypt = new JSEncrypt(),
        username = document.getElementById('username').value,
        password = document.getElementById('password').value;

    encrypt.setPublicKey(publicKey);
    // 加密密码
    password = encrypt.encrypt(password);

    return fetch('/api/login', {
        method: 'POST',
        body: JSON.stringify({
            username,
            password
        }),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(function(data) {
        // 转json
        return data.json();
    }).then(function(data) {
        if (data.result) {
            alert('登录成功');
        }
    });
}

function getKey() {
    return fetch('/api/publicKey').then(function(data) {
        // 转json
        return data.json();
    }).then(function(data) {
        return data.secret;
    });
}

function getCode() {
    fetch('/api/verificationCode').then(function(data) {
        // 转json
        return data.json();
    }).then(function(data) {
        document.getElementById('verCode').innerHTML = data.data + '<span>' + data.text + '</span>';
    });
}
(function() {
    var oStartSoc = document.getElementById('startSoc'),
        oSendSoc = document.getElementById('sendSoc'),
        oEndSoc = document.getElementById('endSoc'),
        ws = null;

    oStartSoc.addEventListener('click', function() {
        ws = new WebSocket('ws:127.0.0.1:3001');

        ws.onopen = function() {
            console.log('onopen');
            ws.send('from client');
        }
        ws.onmessage = function(e) {
            console.log('onmessage', e.data);
        }

        ws.onclose = function() {
            console.log('onclose');
        }

        ws.onerror = function() {
            console.log('onerror');
        }
    });
    oSendSoc.addEventListener('click', function() {
        var con = document.getElementById('socCon').value;

        ws.send(con);
    });
    oEndSoc.addEventListener('click', function() {
        ws.close();
    });
})();
</script>
</html>